body {
  background-color: #fafafa;
  font-family: Overlock, cursive;
  font-size: 250%;
  padding: 0 100px;
  text-align: justify;
}

h1 {
  font-family: Pacifico, cursive;
  font-weight: 100;
}
.felsorolas img{
  display: inline-block;
  max-width: 300px;
  position: absolute;
  left: 50%;
}
img{
  border-radius: 10px;
}

figure {
  display: inline-block;
}

figcaption {
  font-family: "EB Garamond", sans-serif;
  font-size: 80%;
}
