body {
  background-color: #fafafa;
  font-family: Overlock, cursive;
  font-size: 250%;
  padding: 0 100px;
  text-align: justify;
}

h1 {
  font-family: Pacifico, cursive;
  font-weight: 100;
}
#felsorolas{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}
img{
  max-width: 300px;
}

figure {
  display: inline-block;
}

figcaption {
  font-family: "EB Garamond", sans-serif;
  font-size: 80%;
}
