html{
    background-image: url(pngwing.com.png);
    background: url(pngwing.com.png),linear-gradient(180deg, rgba(228,68,83,1) 0%, rgba(250,139,160,1) 100%);
    background-attachment:fixed;
    background-size: 20%;
}
body{
    background: rgb(175,11,26);
    background: linear-gradient(0deg, rgba(175,11,26,1) 0%, rgba(233,0,45,1) 100%);
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    border: 2.5px solid white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
html{
    
}
.cont{
    text-align: center;
}
h1{
    margin: 20px;
}

.answer{
    margin-left: 5px;
    margin-right: 5px;
    border: 2.5px solid white;
    font-size: 30px;
    padding: 3px;
    border-radius: 10px;
    width: 25%;
    height: 150px;
    margin: 1%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-shrink: 1;
}
.answer:hover{
    background-color: #E06F8B;
    color: white;
    transition: 0.3s;
}

fieldset{
    width: 80%;
    display: flex;
    border-collapse: collapse;  
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border:3.5px solid #E06F8B;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-shrink: 1;
    flex-wrap: wrap;
}
legend{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
button{
    font-size: 20px;
    text-decoration: none;
    border: 5px solid #E06F8B;
    border-radius: 10px;
}
.bdate{
    width: 100%;
    height: 100%;
    background-color: #E06F8B;
    text-align: center;
    width: 50%;
    height: 200px;
    border-radius: 10px;
    border: 2.5px solid white;
    font-size: 20px;
    color: white;
}

textarea{
    background-color: #E06F8B;
    color: white;
    border: 2.5px solid white;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
}

.submit{
    border:2.5px solid white;
    border-radius: 10px;
    background-color: #E06F8B;
    font-size: 20px;
    margin: 10px;
    padding: 5px;
    color: white;
}
#spam{
    font-size: 20px;
    accent-color: #E06F8B;
    border: 2.5px solid white;
    background-color: #E06F8B;
    border-collapse: collapse;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
#checkbox{
    outline: 2.5px solid white;
    border-radius: 10px;
}