body{
    background-color: #613d19;
    font-family: Verdana;
    row-gap: 30px;
}
header{
    height: 450px;
    background-image: url(forras/fox_bg.jpg);
    background-position: center;
    background-size: cover;
}
main{
    width: 80%;
    margin: 0px auto;
    background-color: rgba(216, 169, 81, 0.2);
}